In [1]:
# Dependencies and Setup
import pandas as pd
import csv
from pathlib import Path

In [2]:
# File to Load (Remember to Change These)
file_to_load = Path("Resources/purchase_data.csv")

In [3]:
# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [4]:
purchase_data_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [5]:
# Player Count
player_count = len(purchase_data_df["SN"].unique())
player_count

576

In [6]:
# Total Number of Players
player_df = pd.DataFrame({"Total Players":[player_count]})                         
player_df

   Total Players
0            576

In [7]:
# Purchasing Analysis (Total)
purchase_total = purchase_data_df["Price"].sum()
purchase_total

2379.77

In [8]:
# Number of Unique Items
unique_items = len(purchase_data_df["Item Name"].unique())
unique_items

179

In [9]:
# Average Purchase Price
average_price = purchase_data_df["Price"].mean()
average_price.round(2)

3.05

In [10]:
# Total Number of Purchases
purchase_total_count = purchase_data_df["Price"].count()
purchase_total_count

780

In [11]:
# Total Revenue
total_revenue = purchase_data_df["Price"].sum()
total_revenue

2379.77

In [12]:
# Most Common Item
most_common = purchase_data_df["Item Name"].max()
most_common

'Yearning Mageblade'

In [13]:
# Least Common Item
least_common = purchase_data_df["Item Name"].min()
least_common

'Abyssal Shard'

In [14]:
#Create a summary data frame to hold the results
#Optional: give the displayed data cleaner formatting
#Display the summary data frame

purchase_analysis_summary_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                                             "Average Price": [average_price],
                                             "Number of Purchases": [purchase_total_count],
                                             "Total Revenue": [total_revenue],
                                             "Most Common Item": most_common,
                                             "Least Common Item": least_common})

purchase_analysis_summary_df

,Number of Unique Items,Average Price,Number of Purchases,Total Revenue,Most Common Item,Least Common Item
0,179,3.050987,780,2379.77,Yearning Mageblade,Abyssal Shard

In [15]:
# Gender Demographics (have to drop the duplicates)
gender_count_raw_df = purchase_data_df[["Gender", "SN"]].drop_duplicates(subset = "SN", keep = 'first')

In [16]:
# Remove column now that its not necessary and verify 576
gender_dupeless = gender_count_raw_df.drop(columns=["SN"])
gender_dupeless

     Gender
0      Male
1      Male
2      Male
3      Male
4      Male
..      ...
773    Male
774    Male
775  Female
777    Male
778    Male

[576 rows x 1 columns]

In [17]:
gender_count = pd.DataFrame(gender_dupeless).value_counts()
gender_count

Gender
Male                     484
Female                    81
Other / Non-Disclosed     11
dtype: int64

In [18]:
gender_percentage_raw = gender_dupeless.value_counts(normalize=True) * 100
gender_percentage = gender_percentage_raw.round(2)
gender_percentage

Gender
Male                     84.03
Female                   14.06
Other / Non-Disclosed     1.91
dtype: float64

In [19]:
gender_demographics = pd.DataFrame({"Total Count": gender_count,
                                    "Percentage of Players": gender_percentage})

gender_demographics

                       Total Count  Percentage of Players
Gender
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [20]:
# Purchasing Analysis (Gender)
#The below each broken by gender
purchase_gender_df = pd.DataFrame(purchase_data_df)
purchase_gender = purchase_gender_df.groupby(["Gender"])

In [21]:
# Purchase Count
purchase_count = purchase_gender["Price"].count()
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [22]:
# Average Purchase Price
average_price = purchase_gender["Price"].mean()
average_price.round(2)

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [23]:
# Total Purchase Value
total_purchase_value = purchase_gender["Price"].sum()
total_purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [24]:
# Average Purchase Total per Person by Gender
avg_purchase_total_gender = purchase_gender["Price"].sum()/purchase_gender["SN"].nunique()
avg_purchase_total_gender.round(2)

Gender
Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [25]:
# summary table
gender_purchase_summary = pd.DataFrame({"Purchase Count": purchase_count,
                                        "Average Purchase Price": average_price.round(2),
                                        "Total Purchase Value": total_purchase_value,
                                        "Avg Total Purchase per Person": avg_purchase_total_gender.round(2)})

gender_purchase_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [26]:
# Age Demographics
# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
# Create the bins in which Data will be held
bins = [0, 9, 14, 19, 24, 29, 34, 39, 40]

# Create the names for the eight bins
age_groups = ["<10",
              "10-14",
              "15-19",
              "20-24",
              "25-29",
              "30-34",
              "35-39",
              "40+"
             ]

In [27]:
# Age Demographics
age_dup = pd.DataFrame(purchase_data_df)
age_df = age_dup.drop_duplicates("SN")
age_demo = pd.cut(age_df["Age"], bins, labels=age_groups)
age_demo

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
773    20-24
774    10-14
775    20-24
777    20-24
778      <10
Name: Age, Length: 576, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '40+']

In [28]:
# find totals
total_count = age_demo.value_counts()
total_count

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
<10       17
40+        5
Name: Age, dtype: int64

In [29]:
# round the results
age_percentage_raw = age_demo.value_counts(normalize=True) * 100
age_percentage = age_percentage_raw.round(2)
age_percentage

20-24    45.34
15-19    18.80
25-29    13.53
30-34     9.14
35-39     5.45
10-14     3.87
<10       2.99
40+       0.88
Name: Age, dtype: float64

In [30]:
# Summary table
age_demographics = pd.DataFrame({"Total Count": total_count,
                                    "Percentage of Players": age_percentage})

age_demographics.sort_index(ascending=True)

       Total Count  Percentage of Players
<10             17                   2.99
10-14           22                   3.87
15-19          107                  18.80
20-24          258                  45.34
25-29           77                  13.53
30-34           52                   9.14
35-39           31                   5.45
40+              5                   0.88

In [31]:
new_purchase_data_df = pd.DataFrame(purchase_data_df)
new_purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [32]:
# Create the bins in which Data will be held
bins = [0, 9, 14, 19, 24, 29, 34, 39, 999]

# Create the names for the eight bins
age_groups = ["<10",
              "10-14",
              "15-19",
              "20-24",
              "25-29",
              "30-34",
              "35-39",
              "40+"
             ]

In [33]:
pd.cut(new_purchase_data_df["Age"], bins, labels=age_groups)

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '40+']

In [34]:
new_purchase_data_df["Age Group"] = pd.cut(new_purchase_data_df["Age"], bins, labels=age_groups)
new_purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [36]:
new_purchase_data_df = new_purchase_data_df.groupby("Age Group")
new_purchase_data_df.head()

# Purchase Count
age_purchase_count = new_purchase_data_df["Price"].count()
age_purchase_count

# Average Purchase Price
age_average_price = new_purchase_data_df["Price"].mean()
age_average_price.round(2)

# Total Purchase Value
age_total_purchase_value = new_purchase_data_df["Price"].sum()
age_total_purchase_value

# Average Purchase Total per Person by Age Group
avg_purchase_total_age = new_purchase_data_df["Price"].sum()/new_purchase_data_df["SN"].nunique()
avg_purchase_total_age.round(2)

Age Group
<10      4.54
10-14    3.76
15-19    3.86
20-24    4.32
25-29    3.81
30-34    4.12
35-39    4.76
40+      3.19
dtype: float64

In [37]:
# Summary Table
age_purchase_summary = pd.DataFrame({"Purchase Count": age_purchase_count,
                                        "Average Purchase Price": age_average_price.round(2),
                                        "Total Purchase Value": age_total_purchase_value,
                                        "Avg Total Purchase per Person": avg_purchase_total_age.round(2)})

age_purchase_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

In [151]:
#purchase_age_df = pd.cut(age_df["Age"], bins, labels=age_groups)
#purchase_age = purchase_age_df

KeyError: 'Price'

In [154]:
# Average Purchase Price
age_average_price = purchase_age["Price"].mean()
age_average_price.round(2)

KeyError: 'Price'

In [155]:
# Total Purchase Value
age_total_purchase_value = purchase_age["Price"].sum()
age_total_purchase_value

KeyError: 'Price'

In [156]:
# Average Purchase Total per Person by Age Group
avg_purchase_total_age = purchase_age["Price"].sum()/purchase_age["SN"].nunique()
avg_purchase_total_age.round(2)

KeyError: 'Price'

In [ ]:
# Summary Table
age_purchase_summary = pd.DataFrame({"Purchase Count": age_purchase_count,
                                        "Average Purchase Price": age_average_price.round(2),
                                        "Total Purchase Value": age_total_purchase_value,
                                        "Avg Total Purchase per Person": avg_purchase_total_age.round(2)})

age_purchase_summary

In [ ]:
# Average Purchase Price

In [ ]:
# Total Purchase Value

In [ ]:
# Average Purchase Total per Person by Age

In [ ]:
# Top Spenders
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

In [ ]:
# SN

In [ ]:
# Purchase Count

In [ ]:
# Average Purchase Price

In [ ]:
# Total Purchase Value

In [ ]:
# Most Popular Items
# Identify the 5 most popular items by purchase count, then list (in a table):

In [ ]:
# Item ID

In [ ]:
# Item Name

In [ ]:
# Purchase Count

In [ ]:
# Item Price

In [ ]:
# Total Purchase Value

In [ ]:
# Most Profitable Items
# Identify the 5 most profitable items by total purchase value, then list (in a table):

In [ ]:
# Item ID

In [ ]:
#Item Name

In [ ]:
# Purchase Count

In [ ]:
# Item Price

In [ ]:
# Total Purchase Value